<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <div id="player-box">
      <div id="player-one">
        <div class="player-name">
          Saverio
        </div>
        <div class="player-points">
          45
        </div>
      </div>
      <div id="player-two">
        <div class="player-name">
          Saverio2
        </div>
        <div class="player-points">
          43
        </div>
      </div>
    </div>

    <div id="game-area">
      <button id="game-start-btn">Start Game</button>
      <canvas id="game-board" width="500" height="500" style="border:1px solid #000000;">This browser doesn't support
        canvas.</canvas>
    </div>
  </div>
</body>

</html>