@import './vendor';

body {
  color: white;
  background: url('../images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-color: black;
}

#game-start-btn {
  max-width: 300px;
  background: green!important;
  font-size: 20px;
}